/* General Styles */
body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: #fcf9ec;
    color: #36454F;
    text-align: center;
}

header, footer {
    background-color: #008080;
    color: #fcf9ec;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    height: 50px;
}

h2 {
    color: #008080;
    font-size: 36px;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.submit-button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #006666;
}
