/* Common Styles */
body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: #fcf9ec;
    color: #36454F;
}

header, footer {
    background-color: #008080;
    color: #fcf9ec;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    height: 50px;
}

h1.site-title {
    font-family: 'Permanent Marker', cursive;
    color: #E57F3D;
    font-size: 48px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin: 20px 40px;
}

/* Gallery */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.gallery-caption {
    font-family: 'Poetsen One', sans-serif;
    color: #36454F;
    background-color: #ffffff;
    padding: 10px 0;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
